

html {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(270deg, #f6a192, #f6d992);
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    color: #654321;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    /*text-transform: uppercase;*/
}

#subheader {
    text-align: center;
    min-width: 340px;
    max-width: 75%;
    margin: 0 auto;
}

.button {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    background-color: #d8bb5d;
    text-align: center;
    min-width: 460px;
    max-width: 75%;
    margin: 5px auto;
    padding: 10px 0;
}

nav a {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    display: block;
    padding: 0 80px;

}
.container {
    background-color: #FFFDD0;
    min-width: 460px;
    max-width: 75%;
    text-align: center;
    margin: 10px auto;
}

.container img {
    max-width: 90%;
    margin-top: 20px;
}

.product {
    font-weight: bold;
}

.about {
    text-align: center;
}

.jodie {
    text-align: center;
}

.jodie img {
    max-width: 360px;
    text-align: center;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
    text-align: center;
    margin-top: 20px;
}

@media only screen and (min-width: 1000px) {
    nav a {
      display: inline-block;
    }
    .about, .jodie {
        text-align: left;
    }

    .jodie img {
        float: left;
    }
  }
